{% extends "base.html" %}
{% load static %}
{% block content %}
	<div class='container container-fluid'>
		<div class='row'>
			<div class='col'>
				<h1><img src='{% static 'images/logo.png' %}' id='logo'/>  My Food Tracker - {{title}}</h1>

				<a class="btn btn-lg btn-danger" href="{% url 'auth_logout' %}">Logout</a> <br />

				{{ form.errors }}

				<form  method="POST" action="{% url 'auth_password_change' %}" > <br />
					<div class="form-group">
						{% csrf_token %}
						
						<label for="id_old_password">Old Password</label>
						<input type="password" class="form-control" name="old_password" id="id_old_password"  required autofocus/>
						

						<label for="id_new_password1">New Password</label>
						<input type="password" class="form-control" name="new_password1" id="id_new_password1"  required autofocus/>

						
						<label for="id_new_password2">Confirm New Password</label>
						<input type="password" class="form-control" name="new_password2" id="id_new_password2"  required autofocus/>

					
						<br />
						<button class="btn btn-lg btn-primary " type="submit">Change Password</button>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock content%}